<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>oh no..</title>
</head>
<body>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE5-FM3jf8X1euhOjn7QdN18Dzg6PTLIsHDJDiMcznbPY03TGQ_KB0OrGNEmp5Ji--Tcs&usqp=CAU" alt="Oh no..">

</body>
</html>